@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  max-width: 73.4375rem;
  width: 100%;
  margin: 0 auto;
}

#nav {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 3.625rem;
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: 0.5rem;
}

.count {
  display: flex;
  background-color: #00c0ee;
  margin-top: -13px;
  position: relative;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  width: 12px;
  height: 13px;
  font-size: 10px;
  margin-left: 8px;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-by {
  width: 142px;
  height: 42px;
  font-size: 16px;
}

.container-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 7rem;
}

.container-filter {
  margin: 2rem 0;
}

.product {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  justify-items: center;
  justify-content: space-between;
}

.product-list,
.product-list-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 26.5rem;
  max-width: 12.203125rem;
  width: 100%;
  height: 100%;
  padding: 2rem;
  margin-bottom: 2.5rem;
}

.hide {
  display: none;
}

.product-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.product-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  text-align: center;
}

.product-installment {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  text-align: center;
  margin-top: -10px;
}

.btn-buy {
  max-height: 2.0625rem;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  &:hover {
    border: none;
    background-color: #00c0ee;
  }
}

.btn-more {
  margin-top: 4.375rem;
  margin-bottom: 2.1875rem;
  width: 10.9375rem;
  height: 2rem;
  text-transform: uppercase;
  background-color: #00c0ee;
  border: none;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333333;
}

.content-input-filter-color,
.content-input-filter-price {
  display: flex;
  margin: 0.5rem 0;
  align-items: center;
}

.content-input-filter-color h1 {
  font-weight: 400;
  font-size: 14px;
}

input {
  all: unset;
  border: 1.5px solid rgba($color: #000000, $alpha: 0.5);
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  &:checked {
    background-color: #00c0ee;
  }
}

.filter-size {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  justify-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.input-filter-size {
  width: 2rem;
  height: 2rem;
  margin: 0.25rem;
  background-color: #ffffff;
  border-color: rgba($color: #000000, $alpha: 0.5);
  color: rgba($color: #000000, $alpha: 0.5);
  box-shadow: none;
  border-width: 1.5px;
  cursor: pointer;
  &:hover {
    border-color: #00c0ee;
    color: #000000;
  }
  &:focus {
    border-color: #00c0ee;
    color: #000000;
    box-shadow: none;
  }
}

.container-category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #333333;
  margin-bottom: 2rem;
}

footer {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  background-color: black;
  height: 33px;
}

footer h1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.responsive-filters {
  display: none;
}

@media (max-width: 780px) {
  header {
    margin: 1.2rem;
  }
  .product {
    grid-template-columns: 2fr 2fr 2fr;
  }
  .product-list {
    width: 10.125rem;
    height: 22.32125rem;
    padding: 1rem;
  }
  .container-product {
    margin: 0 auto;
  }
  .title {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #666666;
  }
  .container-filter {
    display: none;
    position: absolute;
    background-color: #fff;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: -12rem;
  }
  .container-filter-show {
    display: flex !important;
  }
  .order-by {
    display: none;
  }
  .categoty {
    margin: 0 auto;
  }
  .responsive-filters {
    display: block;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .filter-color {
    margin-top: 2rem;
  }

  .responsive-filter,
  .responsive-order {
    border: 1px solid;
    border-color: rgba($color: #000000, $alpha: 0.5);
    width: 10rem;
    height: 3rem;
    margin: 0 auto;
    font-size: 24px;
    line-height: 33px;
    color: #666666;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #nav {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
  }
  .nav {
    display: flex !important;
  }
  #btn-mobile,
  #btn-mobile-filter {
    font-size: 28px;
    line-height: 38px;
    text-transform: uppercase;
    color: #666666;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    height: 4.375rem;
    margin-top: -20px;
    border-inline-style: none;
    align-items: center;
  }
  .list {
    font-size: 22px;
    line-height: 30px;
    margin: 2rem 1rem;
  }
  .filter-size {
    width: 153px;
    height: 112px;
  }
}

@media (max-width: 480px) {
  .product {
    grid-template-columns: 2fr 2fr;
  }
}
